In [2]:
import pandas as pd
df = pd.read_pickle('order_info_frequency.pickle')
ordercount=[]
for user in df['AUTH_CUSTOMER_ID'].unique():
    # count the number of orders for each user, select top 1000 user
    ordercount.append([user, len(df[df['AUTH_CUSTOMER_ID']==user])])

ordercount
#select top 1000 user
ordercount.sort(key=lambda x: x[1], reverse=True)
topuser=[]
for i in range(1000):
    topuser.append(ordercount[i][0])
df=df[df['AUTH_CUSTOMER_ID'].isin(topuser)]
product=[]
for user in df['PRODUCT_CODE'].unique():
    # count the number of orders for each user, select top 1000 user
    product.append([user, len(df[df['PRODUCT_CODE']==user])])

product
#select top 1000 product
product.sort(key=lambda x: x[1], reverse=True)
top500product=[]
for i in range(5000):
    top500product.append(product[i][0])
df=df[df['PRODUCT_CODE'].isin(top500product)]   
df.to_pickle('order_info_frequency_1000.pickle')

In [3]:


#group by auth customerid and sort by order date
df=df.sort_values(by=['AUTH_CUSTOMER_ID','ORDER_DATE'])

In [4]:
df.groupby('AUTH_CUSTOMER_ID',group_keys=True).apply(lambda x: x)

                          AUTH_CUSTOMER_ID  PRODUCT_CODE           ORDER_DATE  \
AUTH_CUSTOMER_ID
7                16                      7       1212466  2021-05-25 14:42:47
                 15                      7       1212466  2021-05-25 14:42:47
                 20                      7       1212466  2021-05-25 14:45:36
                 19                      7       1212466  2021-05-25 14:45:36
                 27                      7       1212466  2021-05-25 18:09:44
...                                    ...           ...                  ...
919644           1750493            919644       1495539  2023-04-26 08:49:55
                 1751784            919644       1480836  2023-04-26 16:03:18
                 1753987            919644       1480836  2023-04-27 08:39:13
                 1753991            919644       1480836  2023-04-27 08:40:40
                 1753993            919644       1480836  2023-04-27 08:41:53

                          BIRTH_YEAR  GENDER  user_total_fq  item_total_fq
AUTH_CUSTOMER_ID
7                16           1994.0  FEMALE            230            594
                 15           1994.0  FEMALE            230            594
                 20           1994.0  FEMALE            230            594
                 19           1994.0  FEMALE            230            594
                 27           1994.0  FEMALE            230            594
...                              ...     ...            ...            ...
919644           1750493      1999.0    MALE            184           1556
                 1751784      1999.0    MALE            184            840
                 1753987      1999.0    MALE            184            840
                 1753991      1999.0    MALE            184            840
                 1753993      1999.0    MALE            184            840

[101874 rows x 7 columns]

In [6]:
#select half of the data for each user
df_train=df.groupby('AUTH_CUSTOMER_ID',group_keys=True).apply(lambda x: x.iloc[0:int(len(x)*0.7)])
df_test=df.groupby('AUTH_CUSTOMER_ID',group_keys=True).apply(lambda x: x.iloc[int(len(x)*0.7):len(x)])

In [7]:
#disable groupby
df_train=df_train.reset_index(drop=True)
df_test=df_test.reset_index(drop=True)

In [8]:
df_train

,AUTH_CUSTOMER_ID,PRODUCT_CODE,ORDER_DATE,BIRTH_YEAR,GENDER,user_total_fq,item_total_fq
0,7,1212466,2021-05-25 14:42:47,1994.0,FEMALE,230,594
1,7,1212466,2021-05-25 14:42:47,1994.0,FEMALE,230,594
2,7,1212466,2021-05-25 14:45:36,1994.0,FEMALE,230,594
3,7,1212466,2021-05-25 14:45:36,1994.0,FEMALE,230,594
4,7,1212466,2021-05-25 18:09:44,1994.0,FEMALE,230,594
...,...,...,...,...,...,...,...
70828,919644,1482009,2023-03-27 08:31:26,1999.0,MALE,184,8605
70829,919644,1501914,2023-03-27 08:33:29,1999.0,MALE,184,577
70830,919644,1480836,2023-03-27 14:42:49,1999.0,MALE,184,840
70831,919644,1480836,2023-03-28 08:23:32,1999.0,MALE,184,840
70832,919644,1500420,2023-03-28 08:28:34,1999.0,MALE,184,100

In [9]:
df_train.to_pickle('order_info_frequency_1000_train.pickle')
df_test.to_pickle('order_info_frequency_1000_test.pickle')